.btn {
  padding: 5px 18px;
  background: transparent;
  border: 1px solid #ccc;
  display: inline-block;
  text-decoration: none;
  color: $main-font;
  &.btn-lg {
    padding: 12px 25px;
  }
  &:hover {
    background: #f0f0f0;
    cursor: pointer;
  }
  > .fa {
    margin-right: 5px;
  }
}