$color-primary-0: #2B4970;
$color-primary-1: #7992B3;
$color-primary-2: #4C6A8F;
$color-primary-3: #142E50;
$color-primary-4: #051830;

$color-slogan: #fff;

// sections
$color-section-1: #fff;
$color-section-2: #f0f0f0;
$color-section-title: #333;

// footer
$color-footer-bg: #333;