.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-block {
  line-height: 35px;
  color: #555;
}

.block {
  width: 100%;
  margin: 0 auto;
  &.medium {
    width: 80%;
  }
}


.mb-10 {
  margin-bottom: 10px;
}