/* smartphones, iPhone, portrait 480x320 phones */
@media (max-width:480px) {
  header {
    background: url("../img/bg-header-mobile.jpg") no-repeat repeat center bottom;
    nav {
      padding: 0 10px;
      .logo {
        width: 100%;
        text-align: center;
      }
      .navbar-inner {
        display: none;
      }
    }
    .slogan {
      font-size: 20px;
      h1 {
        margin-top: 60%;
      }
    }
  }


}
@media (min-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (max-width:1025px) {
  header {
    background: url("../img/bg-header-tablet.jpg") no-repeat repeat center bottom;
    .logo {
      @include span-columns(5);
    }
    .navbar-inner {
      @include span-columns(7);

    }
  }

  .portfolio {
    .item {
      margin-bottom: 30px;
      height: auto;
      img {
        min-width: 100%;
        min-height: 100%;
      }
      .moreInfo {
        display: block;
        width: 100%;
        position: relative;
        background: none;
        height: auto;
        line-height: 25px;
        label {
          display: block;
        }
      }
    }
  }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ }