/* smartphones, iPhone, portrait 480x320 phones */
@media (max-width:480px) {
  header {
    background: url("../img/bg-header-tablet-mobile.jpg") no-repeat center bottom;
    nav {
      padding: 0 10px;
      .logo {
        width: 100%;
        text-align: center;
      }
      .navbar-inner {
        display: none;
      }
    }
    .slogan {
      font-size: 20px;
    }
  }


}
@media (max-width:1025px) {
  header {
    background: url("../img/bg-header.jpg") no-repeat center bottom;
    height: 100%;
    overflow: hidden;
    .logo {
      @include span-columns(5);
    }
    .navbar-inner {
      @include span-columns(7);

    }
  }

  .portfolio {
    .item {
      margin-bottom: 30px;
      height: auto;
      img {
        min-width: 100%;
        min-height: 100%;
        max-height: 220px;
      }
      .moreInfo {
        display: block;
        width: 100%;
        position: relative;
        background: none;
        height: auto;
        line-height: 25px;
        label {
          display: block;
        }
      }
    }
  }
  .container {
    padding: 0 20px;
  }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ }